html {
    background-color: #121212;
}

main {
    background-color: #121212;
}

#logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

#menu-nav {
    width: 80%;
}

#cont_Art {
    padding-top: 40px;
    padding-bottom: 40px;
}

.artista {
    width: 275px;
    height: 275px;
    flex-direction: column;
}

.link_Artist {
    color: #1abc54;
    text-decoration: none;
    transition: 3s;
}

#art_not{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#art_not p {
    font-size: 30px;
}

h2 {
    color: #1abc54;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

#carrusel {
    text-align: center;
}

#img_art {
    border-radius: 200px;
    margin-bottom: 10px;
    transition: transform 1.2s;
}

nav {
    background-color: #1abc54;
}

.link,
.btn {
    color: white;
}

#caja-boton-next,
#caja-boton-prev {
    width: 100px;
    margin-top: 5%;
}

.link_Artist h3:hover {
    color: gray;

}

.link_Artist img:hover {
    transform: scale(1.05);

}

footer {
    background-color: #1abc54;
    padding: 25px 0px 25px 0px;
}